:root {
    --body-bg: #123;
    --nav-bg: rgb(69, 92, 115);
}

body {
    margin: 0;
    font-family: "Roboto Condensed", sans-serif;
    background-color: var(--body-bg);
    color: white;
    display: grid;
    grid-template-columns: 20rem 1fr;
    gap: 1rem;
}

.nav-wrapper {
    background-color: var(--nav-bg);
    height: 100vh;
}

.nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    gap: 2rem;
    padding-block: 2rem 4rem;
    font-size: 2rem;
    padding-left: 2rem;
   

}
.sidebar-item{
    border-radius: 1rem 0 0 1rem;
    height: 3rem;
    padding-left: 1rem;
}
.sidebar-item a {
    color: white;
    text-decoration: none;
}
.active{
    background-color: var(--body-bg);
    position: relative;
    }
    .active::after,
    .active::before{
        --border-size:2rem;
        content:"";
        position: absolute;
        height : var(--border-size);
        width: var(--border-size);
right:0;
background-color:transparent;

    }
    .active::after{
        bottom: calc(var(--border-size)* -1);
        box-shadow: 5px -5px 0 5px var(--body-bg);
        border-radius: 0 50% 0 0;
      
    }
    .active::before{
        top: calc(var(--border-size)* -1);
        box-shadow: 5px 5px 0 5px var(--body-bg);
        border-radius: 0 0 50% 0;
    }